{{ define "main" }}
<div class="pt-m pb-xl">
  <div class="mx-s p-s rounded-md border border-outline-variant">
    {{ .Content }}
  </div>
  {{- $targetCategory := "アイデア" -}}
  {{- if (eq .CurrentSection.Section "fieldstones") -}}
  {{- $targetCategory = "自然石" -}}
  {{- end -}}
  <div class="mx-s px-s">
    <h4>{{ $targetCategory }}</h4>
    <div class="grid grid-cols-4 gap-s">
      {{ range (where .Site.RegularPages.ByLastmod.Reverse ".Params.categories"
      "intersect" (slice $targetCategory)) }}
      <div class="border border-outline rounded-lg p-s">
        <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        <div>{{ .Summary }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
