{{ define "main" }}
<div class="pt-m pb-xl">
  <div class="mx-s p-s rounded-md border border-outline-variant">
    <div class="hl-2xs"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
    {{ .Content }}
  </div>
  <div class="mx-s px-s">
    <h4>アイデア</h4>
    <div class="grid grid-cols-4 gap-s">
      {{ range (where .RegularPages.ByLastmod.Reverse ".Params.categories"
      "intersect" (slice "アイデア")) }}
      <div class="border border-outline rounded-lg p-s">
        <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        <div>{{ .Summary }}</div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="mx-s px-s">
    <h4>自然石</h4>
    <div class="grid grid-cols-4 gap-s">
      {{ range where .RegularPages.ByLastmod.Reverse ".Params.categories"
      "intersect" (slice "自然石") }}
      <div class="border border-outline rounded-lg p-s">
        <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        <div>{{ .Summary }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
