{{ define "main" }}
<div class="pt-m pb-xl">
  <div class="mx-s p-s rounded-md border border-outline-variant">
    <div class="hl-2xs"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
    <div>{{ .Content }}</div>
  </div>
  <div class="mx-s px-s">
    <h4>親アイデア</h4>
    <ul>
      {{ if (gt (len (where .Ancestors ".Kind" "section")) 1) }}
      {{ range (first 1 (where .Ancestors ".Kind" "section")) }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      {{ end }}
    </ul>

    {{ $curPage := . }}
    <h4>関連項目</h4>
    <ul>
    {{ if (gt (len (where .Ancestors ".Kind" "section")) 1) }}
    {{ range (first 1 (where .Ancestors ".Kind" "section")) }}
    {{ range (where .Pages ".Permalink" "ne" $curPage.Permalink ) }}
    <li>{{ if (in .Params.categories "アイデア") }}[アイデア]{{ else if (in .Params.categories "自然石") }}[自然石]{{ end }} <a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ range .Params.related_pages }}
        {{ with $.Site.GetPage . }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    {{ end }}
    </ul>
  </div>
</div>
{{ end }}
