<div class="container mx-auto bg-secondary text-on-secondary">
  <div
      class="col-span-full px-m py-s hl-l font-bold bg-primary text-on-primary"
    >
      <a class="site_title" href="/">アイデアバンク</a>
  </div>
  <div class="grid grid-flow-col justify-stretch">

    {{- $currentPage := . -}}
    {{- $selected := false -}}
    {{- range $idx, $val := (sort .Site.Menus.main "Weight") -}}
    {{ if (in $currentPage.Params.categories $val.Title) }}
      {{- $selected = true -}}
    {{ else if (eq $currentPage.RelPermalink $val.URL)}}
      {{- $selected = true -}}
    {{ else }}
      {{- $selected = false -}}
    {{end}}
    <div class="pt-5 pb-3 navi {{ if (ne $idx 0) }}border-l border-outline-variant{{end}} {{ if $selected }}font-bold bg-secondary-container text-on-secondary-container{{end}}">
      {{ partial "item_menu_link" $val }}
    </div>
    {{- end -}}
  </div>
</div>
