{{- $icon_name := "" -}}
{{- $class_name := "text-xl" -}}
{{- if reflect.IsMap . -}}
    {{- $icon_name = .Name -}}
    {{- $class_name = .ClassName -}}
{{- else -}}
    {{- $icon_name = . -}}
{{- end -}}
{{- with $icon_name -}}
{{- $icon := $icon_name -}}
{{- if eq $icon_name "Home" -}}
{{- $icon = "🏠" -}}
{{- else if eq $icon_name "アイデア" -}}
{{- $icon = "💡" -}}
{{- else if eq $icon_name "自然石" -}}
{{- $icon = "🪨" -}}
{{- else if eq $icon_name "TIL" -}}
{{- $icon = "📝" -}}
{{- else if eq $icon_name "タグ" -}}
{{- $icon = "🏷️" -}}
{{- else if eq $icon_name "最新" -}}
{{- $icon = "🆕" -}}
{{- else if eq $icon_name "関連項目" -}}
{{- $icon = "🔗" -}}
{{- end -}}
<span class="inline-flex emoji {{ $class_name -}}">{{- $icon -}}</span>{{- end -}}