{{- $collection := slice -}}
{{- $params := . -}}
{{- $context := .Context -}}
{{- $limit := -1 -}}
{{- $type := .Type -}}
{{- $cond := (slice $type) -}}

{{- if isSet $params "Limit" -}}
  {{- $limit = $params.Limit -}}
{{- end -}}

{{- if eq $type "最新" -}}
  {{- $cond = (slice "アイデア" "自然石" "TIL") -}}
{{- end -}}

{{- if lt $limit 0 -}}
{{- $collection = where $context.RegularPages.ByLastmod.Reverse ".Params.categories" "intersect" $cond -}}
{{- else -}}
  {{- $collection = first $limit (where $context.RegularPages.ByLastmod.Reverse ".Params.categories" "intersect" $cond) -}}
{{- end -}}

{{- with $collection -}}
{{ partial "item_type_label" $type }}
<div class="grid grid-cols-3 gap-s">
  {{ range $collection }} {{ partial "item_summary" . }} {{ end }}
</div>
{{- end -}}
