{{ $icon_name := "" }}
{{ $class_name := "mb-0.5 mr-0.5" }}
{{ if eq .Title "Home" }}
{{ $icon_name = "home" }}
{{ $class_name = "mb-2 mr-0.5" }}
{{ else if eq .Title "アイデア"}}
{{ $icon_name = "lightbulb" }}
{{ else if eq .Title "自然石" }}
{{ $icon_name = "diamond" }}
{{ else if eq .Title "TIL" }}
{{ $icon_name = "local_library" }}
{{ $class_name = "mb-1 mr-1" }}
{{ else if eq .Title "タグ" }}
{{ $icon_name = "tag" }}
{{ $class_name = "mb-0.5 " }}
{{ end }}

<a class="block w-full" href="{{ .URL }}">{{ partial "icon" (dict "Name" $icon_name "ClassName" $class_name) }}{{ .Title }}</a>