<div class="flex justify-between txt-label-m text-on-surface-variant my-xs">
    {{- $diff := now.Sub .Lastmod -}}
    <div>
    <div>{{ if ne .Date .Lastmod }}{{ .Lastmod.Format "2006/01/02" }}{{ if lt $diff.Hours .Site.Params.items.maxHoursToShowUpdated }}<span class="text-red-600 ml-1">Updated</span>{{ end }}
    {{ else }}{{ .Date.Format "2006/01/02" }}{{ if lt $diff.Hours .Site.Params.items.maxHoursToShowNew }}<span class="text-red-600 ml-1">New</span>{{ end }}{{ end }}
    </div>
        <div class="flex gap-2xs text-on-surface-variant max-w-[40rem]">
            {{ range .GetTerms "tags" }}
            <div><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></div>
            {{ end }}
        </div>
    </div>
    <div>
        <div class="font-bold text-primary">{{ if (eq .Kind "section") }}アイテム数: {{ .Pages | len }} 個{{ else }}&nbsp;{{ end }}</div>
        <div>文字数: {{ countrunes .Content }} 文字</div>
    </div>
 </div>